# 23rd APril - Tuple data structure and it's Functions

In [23]:
l = ['p','k','z','a','d']

l

['p', 'k', 'z', 'a', 'd']

In [24]:
l.sort() #system built parameters are called "Parameter-Tuning"  

l

['a', 'd', 'k', 'p', 'z']

In [25]:
l.sort(reverse=True) #user modifying the system built parameters are called "Hyper-parameter Tuning"

l

['z', 'p', 'k', 'd', 'a']

In [26]:
t = (10,50,30,20,60,10,40,100,20)

t

(10, 50, 30, 20, 60, 10, 40, 100, 20)

In [27]:
for i in t:
    print(i)

10
50
30
20
60
10
40
100
20

In [28]:
len(t)

9

In [29]:
t.count(10) #returns the number of occurances of the specified element

2

In [30]:
t.index(100) #returns the index of the 1st occurance of the specified element

7

In [31]:
t.index(10)

0

# Tuple Membership

In [32]:
10 in t #checks whether the specified value is present and if yes prints True else prints False

True

In [33]:
65 in t

False

In [34]:
for i in enumerate(t): #enumerate returns the pair of index and corresponding values (index,value)
    print(i)

(0, 10)
(1, 50)
(2, 30)
(3, 20)
(4, 60)
(5, 10)
(6, 40)
(7, 100)
(8, 20)

In [35]:
t2 = (1,3.5,"Sai",1+2j,True,[10,30,20],(1,3,5),False) # tuple accepts different datatype values

t2

(1, 3.5, 'Sai', (1+2j), True, [10, 30, 20], (1, 3, 5), False)

In [36]:
all(t2) #returns True only when none of the elements are False/0

False

In [37]:
any(t2) #returns True if any of the elements is True/1

True

In [38]:
for i in t2:
    print(i)

1
3.5
Sai
(1+2j)
True
[10, 30, 20]
(1, 3, 5)
False

In [39]:
t2.index("Sai")

2

In [40]:
t2[:] #returns whole tuple values

(1, 3.5, 'Sai', (1+2j), True, [10, 30, 20], (1, 3, 5), False)

In [41]:
t2[3:10] #returns values from index 3 till n-1 i.e, 9

((1+2j), True, [10, 30, 20], (1, 3, 5), False)

In [42]:
t2[10:] #as the index provided is out of range, it will return a null tuple

()

In [43]:
t2[10] #invalid as the index provided is out of range

IndexError: tuple index out of range

In [44]:
t2[::3] #returns the values with step count 3

(1, (1+2j), (1, 3, 5))

In [45]:
t2[-1] #returns the last index value

False

In [46]:
t2[::-1] #prints the values in reverse order as we're providing the backward indexing

(False, (1, 3, 5), [10, 30, 20], True, (1+2j), 'Sai', 3.5, 1)

In [47]:
t2

(1, 3.5, 'Sai', (1+2j), True, [10, 30, 20], (1, 3, 5), False)

In [48]:
t

(10, 50, 30, 20, 60, 10, 40, 100, 20)

In [49]:
sorted(t) #sorts the values in ascending order

[10, 10, 20, 20, 30, 40, 50, 60, 100]

In [50]:
sorted(t,reverse=True) #sorts the values in descending order

[100, 60, 50, 40, 30, 20, 20, 10, 10]

In [51]:
t2

(1, 3.5, 'Sai', (1+2j), True, [10, 30, 20], (1, 3, 5), False)

In [52]:
t2[5] = 40 #invalid as the tupe is immutable(can't modify the values dynamically)

TypeError: 'tuple' object does not support item assignment

In [53]:
t2[5][0]

10

In [54]:
for i in range(3):
    print(t2[5][i])

10
30
20

In [55]:
t2[5][2]

20

In [56]:
t3 = t * 2 # repeats the tuple values specified number of times

t3

(10, 50, 30, 20, 60, 10, 40, 100, 20, 10, 50, 30, 20, 60, 10, 40, 100, 20)

In [57]:
del t2[5] #invalid as tuple doesn't allow deleting the items

TypeError: 'tuple' object doesn't support item deletion

In [58]:
del t3 #whole tuple deletion is valid

In [59]:
t3

NameError: name 't3' is not defined

In [60]:
t3 = ("one", "five", "three", "two", "six", "four")

t3

('one', 'five', 'three', 'two', 'six', 'four')

In [61]:
if 'five' in t3:
    print("Five is present in Tuple t3")
else:
    print("Five doesn't present in Tuple t3")

Five is present in Tuple t3

In [62]:
if 'ten' in t3:
    print("Ten is present in Tuple t3")
else:
    print("Ten doesn't present in Tuple t3")

Ten doesn't present in Tuple t3

In [63]:
sorted(t3) #sorts the values in alphabetical ascending order --> this is Parameter Tuning

['five', 'four', 'one', 'six', 'three', 'two']

In [64]:
sorted(t3,reverse=True) #sorts the values in alphabetical descending order --> this is Hyper parameter Tuning

['two', 'three', 'six', 'one', 'four', 'five']

In [65]:
t3

('one', 'five', 'three', 'two', 'six', 'four')

In [66]:
for i in t2: 
    print(i,type(i)) #prints the tuple value and it's corresponding class type

1 <class 'int'>
3.5 <class 'float'>
Sai <class 'str'>
(1+2j) <class 'complex'>
True <class 'bool'>
[10, 30, 20] <class 'list'>
(1, 3, 5) <class 'tuple'>
False <class 'bool'>

In [67]:
icici = (1254,"March 15",825862,"CPG479")

icici

(1254, 'March 15', 825862, 'CPG479')

In [68]:
t #duplicate values are allowed in Tuples

(10, 50, 30, 20, 60, 10, 40, 100, 20)

In [69]:
t == t3 #compares whether the mentioned tuples are same or not

False

In [70]:
any(t)

True

In [71]:
all(t)

True

In [72]:
any(icici)

True

In [73]:
all(icici)

True